.App {
    text-align: center;
}

html, body {
    height: 100%;
}

#root {
    height: 100%
}

.login-bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.login-top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}